{{ if ne ( path.Dir .Page.RelPermalink ) "/search" }}
  {{ $re := $.File.BaseFileName }}
  {{ $backlinks := slice }}

  {{ range .Site.AllPages }}
    {{ if and $re (findRE $re .RawContent) (not (eq $re .File.BaseFileName)) }}
      {{ $backlinks = $backlinks | append . }}
    {{ end }}
  {{ end }}

  {{ if gt (len $backlinks) 0 }}
    <div class="container" role="main">
      <div class="bl-section" style="margin-top: 4rem">
        <h2>Links to this note</h2>
        <div class="backlinks">
          <ul>
           {{ range $backlinks }}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
              {{ end }}
          </ul>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}

<footer>
  {{ partial "social.html" . }}

  {{ if .IsTranslated }}
    <p>
    {{ range .Translations }}
      <a href="{{ .Permalink }}" name="{{ .Language.LanguageName }}">{{ .Language.LanguageName }}</a>
    {{ end }}
    </p>
  {{ end }}
  <div class="container">
    <p class="credits copyright">
      <a href="{{ "" | absLangURL }}about">{{ .Site.Author.name }}</a>
      &nbsp;&copy;
      {{ .Site.LastChange.Format "2006" }}
      {{ if .Site.Title }}
        &nbsp;/&nbsp;
        <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
      {{ end }}
      &nbsp;&ndash;&nbsp;
        <em class="fas fa-moon" id="dark-mode-toggle"></em>
    </p>
  </div>
</footer>

<script type="text/javascript"
        async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
